.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #213547;
  color: white;
  font-weight: 600;

  img {
    margin: 0 16px;
  }

  a {
    text-decoration: none;
    color: #ffffff;
    height: 100%;
    width: fit-content;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      background-color: #172938;
      color: #b6d7f4;
      border-bottom: 5px solid #242424;
    }
  }
}

.content {
  display: flex;
  margin-top: 60px;
  width: 100vw;
  height: calc(100% - 60px);
}
